body {
	/* Allow padding for toolbar */
	padding-top: 60px;
	background: url('/polaroid/polaroid.png');
}

.notes section h1:focus {
	background-color: rgba(0, 88, 150, .1);
	outline: none;
}

.notesCollection > .row {
	margin-bottom: 10px;
}
.notesCollection > .row, .note > .row {
	margin-left: 0;
}
.notesCollection > h1 {
	font-size: 1.5em;
	border-bottom: 1px solid #333;
}

.noteCreator {
	float: none !important;
	margin: 0 auto !important;
}

.note {
	border-radius: 3px;
	border: 1px solid #ccc;
}
.note .noteEditor {
	min-height: 150px;
	padding: 5px;
	border: 0;
	margin: 0;
	resize: none;
	background-color: #fff;
	outline: none;
} 
.note textarea.noteEditor {
	background-image: url('/66x40_really_light_md.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #333;
} 
.note footer {
	height: 40px;
	line-height: 30px;
	background-color: #eee;
	padding: 5px;
}
.note footer .timestamp em {
	font-size: .85em;
}

.note .manageToolbar {
	-webkit-animation-duration: .30s;
	   -moz-animation-duration: .30s;
	     -o-animation-duration: .30s;
	        animation-duration: .30s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
	display: none;
}
/* fadeIn provided by Animate.css */
.note[data-editable=true]:hover .manageToolbar {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	display: block;
}

/* typeahead, input-append/input-prepend resets font-size to 0  */
.tt-suggestion {
	font-size: 14px !important;
}

/* Login Buttons */
.navbar .loginContainer {
	margin-top: 5px;
}
.navbar #login-buttons .login-button,
.navbar #login-buttons-google {
	background: initial;
	border: 0;
	box-shadow: none;
	text-shadow: none;
	color: #08c;
	font-size: 14px;
}
.navbar #login-buttons .login-button:active,
.navbar #login-buttons-google:active {
	background: initial;
	background-color: #E5E5E5;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	color: #555;
	text-shadow: 0 1px 0 #FFF;
}